<footer class="footer">
  <div class="container">
    <div class="tablet-style">
      <div class="footer-title">
        <p class="title-style">homemade ice cream made </p>
        <p class="subtitle-style"> with passion</p>
      </div>
      <div>
        <div class="footer-icons">
          <a href="https://www.github.com" target="_blank" rel="noopener noreferrer">
            <svg class="social-icon" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-Vector-18" />
            </svg>
          </a>
          <a href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer">
            <svg class="social-icon" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
          <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
            <svg class="social-icon" width="20" height="20">
              <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </div>
        <div class="footer-contact">
          <p class="footer-text">Feel free to contact</p>
          <p><a href="tel:+61(0)383766284" class="footer-link">+61(0) 383 766 284</a></p>
        </div>
      </div>
    </div>
    <hr class="horizontal-line" />
    <div class="rights-text-ft">   
      
    
    <!-- BUY  NOW  MODAL (header) -->
      
    <div class="buy-now-modal is-hidden" buy-now-modal1>
        <div class="buy-now-modal_body">
            <button class="buy-now-modal-close" buy-now-modal1-close>
                <svg width="20px" height="20px">
                    <use href="/src/images/svg/symbol-defs (11) (po optymalizacji).svg#icon-close"></use>
                </svg>
            </button>
            <h3>Buy now</h3>
          
            <form>
                <ul class="buy-now-modal-list">
                    <div class="wrapper">
                        <li class="buy-now-modal-card1">
                            <label class="firstlabel">
                                <input type="checkbox" class="buy-now-checkbox1" />
                                <div class="buy-now-li-body1"></div>
                                <div class="buy-now-modal-circle1"></div>
                                <p class="buy-now-paragraph">ICE CREAM</p>
                            </label>
                    </div>
                    </li>
                    <div class="wrapper">
                        <li class="buy-now-modal-card2">
                            <label class="secondlabel">
                                <input type="checkbox" class="buy-now-checkbox2" />
                                <div class="buy-now-li-body2"></div>
                                <div class="buy-now-modal-circle2"></div>
                                <p class="buy-now-paragraph">ICE COFFEE</p>
                            </label>
                    </div>
                    </li>
                    <div class="wrapper">
                        <li class="buy-now-modal-card3">
                            <label class="thirdlabel">
                                <input type="checkbox" class="buy-now-checkbox3" />
                                <div class="buy-now-li-body3"></div>
                                <div class="buy-now-modal-circle3"></div>
                                <p class="buy-now-paragraph">MILKSHAKE</p>
                            </label>
                    </div>
                    </li>
                </ul>
                <div class="buy-now-inputs-wrapper">
                    <label for="username"></label>
                    <input type="text" name="username" id="username" placeholder="Name" class="buy-now-properties" required
                        pattern="^[a-zA-Z]+\s[a-zA-Z]+$" required />
                    <label for="userphone"></label>
                    <input type="tel" name="userphone" id="userphone" placeholder="Phone" class="buy-now-properties"
                        required pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required />
                    <label for="usercomment"> </label>
                    <textarea name="usercomment" id="usercomment" class="buy-now-textarea" placeholder="Comment"></textarea>
                </div>
                <div class="buy-now-button-wrapper">
                    <button type="submit" class="buy-now-button">Submit</button>
                </div>
            </form>
        </div>

      <p class="rights-item-ft">© 2022 - IceCream.</p>
      <p class="rights-item-ft">All Rights Reserved.</p>
    </div>



  <!-- BUY NOW MODAL (menu)-->

  <div class="buy-now-modal is-hidden" buy-now-modal2>
    <div class="buy-now-modal_body">
      <button class="buy-now-modal-close" buy-now-modal2-close>
        <svg width="20px" height="20px">
          <use href="/src/images/svg/symbol-defs (11) (po optymalizacji).svg#icon-close"></use>
        </svg>
      </button>
      <h3>Buy now</h3>
  
      <form>
        <ul class="buy-now-modal-list">
          <div class="wrapper">
            <li class="buy-now-modal-card1">
              <label class="firstlabel">
                <input type="checkbox" class="buy-now-checkbox1" />
                <div class="buy-now-li-body1"></div>
                <div class="buy-now-modal-circle1"></div>
                <p class="buy-now-paragraph">ICE CREAM</p>
              </label>
          </div>
          </li>
          <div class="wrapper">
            <li class="buy-now-modal-card2">
              <label class="secondlabel">
                <input type="checkbox" class="buy-now-checkbox2" />
                <div class="buy-now-li-body2"></div>
                <div class="buy-now-modal-circle2"></div>
                <p class="buy-now-paragraph">ICE COFFEE</p>
              </label>
          </div>
          </li>
          <div class="wrapper">
            <li class="buy-now-modal-card3">
              <label class="thirdlabel">
                <input type="checkbox" class="buy-now-checkbox3" />
                <div class="buy-now-li-body3"></div>
                <div class="buy-now-modal-circle3"></div>
                <p class="buy-now-paragraph">MILKSHAKE</p>
              </label>
          </div>
          </li>
        </ul>
        <div class="buy-now-inputs-wrapper">
          <label for="username"></label>
          <input type="text" name="username" id="username" placeholder="Name" class="buy-now-properties" required
            pattern="^[a-zA-Z]+\s[a-zA-Z]+$" required />
          <label for="userphone"></label>
          <input type="tel" name="userphone" id="userphone" placeholder="Phone" class="buy-now-properties" required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required />
          <label for="usercomment"> </label>
          <textarea name="usercomment" id="usercomment" class="buy-now-textarea" placeholder="Comment"></textarea>
        </div>
        <div class="buy-now-button-wrapper">
          <button type="submit" class="buy-now-button">Submit</button>
        </div>
      </form>
    </div>
  </div>

<!-- INGREDIENTS  MODAL (ice cream)-->

<div class="ingredients-modal is-hidden" ingredients-modal-ice-cream>
  <div class="ingredients-modal-body">
    <button class="ingredients-modal-close" ingredients-modal-ice-cream-close>
      <svg>
        <use href="/src/images/svg/symbol-defs (11) (po optymalizacji).svg#icon-close" width="20px" height="20px"></use>
      </svg>
    </button>
    <h2>Chololate icecream</h2>
    <div class="ingredients-modal-circle1"></div>
    <ul class="ingredients-modal-list">
      <li class="ingredients-modal-wrapper1">
        <span class="ingredients-modal-item1">320</span>
        kcal
      </li>
      <li class="ingredients-modal-wrapper1">
        <span class="ingredients-modal-item1">4g</span>
        Prote...
      </li>
      <li class="ingredients-modal-wrapper1">
        <span class="ingredients-modal-item1">8,2g</span>
        Fats
      </li>
      <li class="ingredients-modal-wrapper1">
        <span class="ingredients-modal-item1">40,4g</span>
        Carbs
      </li>
    </ul>
    <p class="ingredients-modal-content">Ingredients</p>
    <ul class="ingredients-modal-elements">
      <li class="ingredients-modal-elements-item">Milk<span>100ml</span></li>
      <li class="ingredients-modal-elements-item">Belgian chocolate<span>20g</span></li>
      <li class="ingredients-modal-elements-item">Cream<span>150ml</span></li>
      <li class="ingredients-modal-elements-item">Cocoa powder<span>30g</span></li>
      <li class="ingredients-modal-elements-item">Sugar<span>40g</span></li>
      <li class="ingredients-modal-elements-item">Vanilla sugar<span>10g</span></li>
    </ul>
    <form>
      <div class="ingredients-inputs-wrapper">
        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="Name" class="ingredients-properties" required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$" required />
        <label for="userphone"></label>
        <input type="tel" name="userphone" id="userphone" placeholder="Phone" class="ingredients-properties" required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required />
        <label for="usercomment"> </label>
        <textarea name="usercomment" id="usercomment" class="ingredients-textarea" placeholder="Comment"></textarea>
      </div>
      <div class="ingredients-button-wrapper">
        <button type="submit" class="ingredients-button">Submit</button>
      </div>
    </form>
  </div>
</div>


<!-- INGREDIENTS  MODAL (ice coffee)-->

<div class="ingredients-modal is-hidden" ingredients-modal-ice-coffee>
  <div class="ingredients-modal-body">
    <button class="ingredients-modal-close" ingredients-modal-ice-coffee-close>
      <svg>
        <use href="/src/images/svg/symbol-defs (11) (po optymalizacji).svg#icon-close" width="20px" height="20px"></use>
      </svg>
    </button>
    <h2>Ice Coffee</h2>
    <div class="ingredients-modal-circle2"></div>
    <ul class="ingredients-modal-list">
      <li class="ingredients-modal-wrapper2">
        <span class="ingredients-modal-item2">320</span>
        kcal
      </li>
      <li class="ingredients-modal-wrapper2">
        <span class="ingredients-modal-item2">4g</span>
        Prote...
      </li>
      <li class="ingredients-modal-wrapper2">
        <span class="ingredients-modal-item2">8,2g</span>
        Fats
      </li>
      <li class="ingredients-modal-wrapper2">
        <span class="ingredients-modal-item2">40,4g</span>
        Carbs
      </li>
    </ul>
    <p class="ingredients-modal-content">Ingredients</p>
    <ul class="ingredients-modal-elements">
      <li class="ingredients-modal-elements-item">Milk<span>100ml</span></li>
      <li class="ingredients-modal-elements-item">Belgian chocolate<span>20g</span></li>
      <li class="ingredients-modal-elements-item">Cream<span>150ml</span></li>
      <li class="ingredients-modal-elements-item">Cocoa powder<span>30g</span></li>
      <li class="ingredients-modal-elements-item">Sugar<span>40g</span></li>
      <li class="ingredients-modal-elements-item">Vanilla sugar<span>10g</span></li>
    </ul>
    <form>
      <div class="ingredients-inputs-wrapper">
        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="Name" class="ingredients-properties" required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$" required />
        <label for="userphone"></label>
        <input type="tel" name="userphone" id="userphone" placeholder="Phone" class="ingredients-properties" required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required />
        <label for="usercomment"> </label>
        <textarea name="usercomment" id="usercomment" class="ingredients-textarea" placeholder="Comment"></textarea>
      </div>
      <div class="ingredients-button-wrapper">
        <button type="submit" class="ingredients-button">Submit</button>
      </div>
    </form>
  </div>
</div>


<!-- INGREDIENTS  MODAL (milkshakes)-->

<div class="ingredients-modal is-hidden" ingredients-modal-milkshakes>
  <div class="ingredients-modal-body">
    <button class="ingredients-modal-close" ingredients-modal-milkshakes-close>
      <svg>
        <use href="/src/images/svg/symbol-defs (11) (po optymalizacji).svg#icon-close" width="20px" height="20px"></use>
      </svg>
    </button>
    <h2>Milkshakes</h2>
    <div class="ingredients-modal-circle3"></div>
    <ul class="ingredients-modal-list">
      <li class="ingredients-modal-wrapper3">
        <span class="ingredients-modal-item3">320</span>
        kcal
      </li>
      <li class="ingredients-modal-wrapper3">
        <span class="ingredients-modal-item3">4g</span>
        Prote...
      </li>
      <li class="ingredients-modal-wrapper3">
        <span class="ingredients-modal-item3">8,2g</span>
        Fats
      </li>
      <li class="ingredients-modal-wrapper3">
        <span class="ingredients-modal-item3">40,4g</span>
        Carbs
      </li>
    </ul>
    <p class="ingredients-modal-content">Ingredients</p>
    <ul class="ingredients-modal-elements">
      <li class="ingredients-modal-elements-item">Milk<span>100ml</span></li>
      <li class="ingredients-modal-elements-item">Belgian chocolate<span>20g</span></li>
      <li class="ingredients-modal-elements-item">Cream<span>150ml</span></li>
      <li class="ingredients-modal-elements-item">Cocoa powder<span>30g</span></li>
      <li class="ingredients-modal-elements-item">Sugar<span>40g</span></li>
      <li class="ingredients-modal-elements-item">Vanilla sugar<span>10g</span></li>
    </ul>
    <form>
      <div class="ingredients-inputs-wrapper">
        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="Name" class="ingredients-properties" required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$" required />
        <label for="userphone"></label>
        <input type="tel" name="userphone" id="userphone" placeholder="Phone" class="ingredients-properties" required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required />
        <label for="usercomment"> </label>
        <textarea name="usercomment" id="usercomment" class="ingredients-textarea" placeholder="Comment"></textarea>
      </div>
      <div class="ingredients-button-wrapper">
        <button type="submit" class="ingredients-button">Submit</button>
      </div>
    </form>
  </div>
</div>

<!-- OUR LOCATION MODAL -->

<div class="our-location-modal is-hidden" our-location-modal>
  <div class="our-location-modal-body">
    <button class="our-location-modal-close" our-location-modal-close>
      <svg width="20px" height="20px">
        <use href="/src/images/svg/symbol-defs (11) (po optymalizacji).svg#icon-close"></use>
      </svg>
    </button>
    <div class="our-location-wrapper">
    <h2>Our Locations</h2>
    <picture>
        <source srcset="./images/our-location-images/our-location-image-224w.png" media="(max-width:767px)" sizes="224px">
        <source srcset="./images/our-location-images/our-location-image-448w.png" media="(min-width: 768px)" sizes="448px">
        <img class="our-location-map" src="./images/our-location-images/our-location-image-224w.png" alt="Map with our location">
    </picture>
    <a href="https://www.google.com/maps?q=mickiewicza+49+warszawa" target="_blank" rel="nofollow noopener noreferrer" class="our-location-link">Open map</a>
    </div>
  </div>
</div>
</footer>

<!-- BUY  NOW  MODAL -->

<div class="buy-now-modal is-hidden" buy-now-modal>
  <div class="buy-now-modal_body">
    <button class="buy-now-modal-close" buy-now-modal-close>
      <svg width="20px" height="20px">
        <use href="/src/images/svg/symbol-defs (11) (po optymalizacji).svg#icon-close"></use>
      </svg>
    </button>
    <h3>Buy now</h3>

    <form>
      <ul class="buy-now-modal-list">
        <div class="wrapper">
          <li class="buy-now-modal-card1">
            <label class="firstlabel">
              <input type="checkbox" class="buy-now-checkbox1" />
              <div class="buy-now-li-body1"></div>
              <div class="buy-now-modal-circle1"></div>
              <p class="buy-now-paragraph">ICE CREAM</p>
            </label>
        </div>
        </li>
        <div class="wrapper">
          <li class="buy-now-modal-card2">
            <label class="secondlabel">
              <input type="checkbox" class="buy-now-checkbox2" />
              <div class="buy-now-li-body2"></div>
              <div class="buy-now-modal-circle2"></div>
              <p class="buy-now-paragraph">ICE COFFEE</p>
            </label>
        </div>
        </li>
        <div class="wrapper">
          <li class="buy-now-modal-card3">
            <label class="thirdlabel">
              <input type="checkbox" class="buy-now-checkbox3" />
              <div class="buy-now-li-body3"></div>
              <div class="buy-now-modal-circle3"></div>
              <p class="buy-now-paragraph">MILKSHAKE</p>
            </label>
        </div>
        </li>
      </ul>
      <div class="buy-now-inputs-wrapper">
        <label for="username"></label>
        <input type="text" name="username" id="username" placeholder="Name" class="buy-now-properties" required
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$" required />
        <label for="userphone"></label>
        <input type="tel" name="userphone" id="userphone" placeholder="Phone" class="buy-now-properties" required
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" required />
        <label for="usercomment"> </label>
        <textarea name="usercomment" id="usercomment" class="buy-now-textarea" placeholder="Comment"></textarea>
      </div>
      <div class="buy-now-button-wrapper">
        <button type="submit" class="buy-now-button">Submit</button>
      </div>
    </form>
  </div>
</div>


<!-- Footer
W footerze umieszczony jest zduplikowany tytuł, nie ma potrzeby wyróżniać go przez tag nagłówka.
W footerze znajduje się lista linków do sieci społecznościowych.
Ikony sieci społecznościowych zrobić za pomocą svg-sprite.
Linki powinny otwierać stronę główną sieci społecznościowej na nowej karcie.
Numer telefonu musi zostać zaimplementowany za pomocą protokołów łączności. -->