<footer>
    <div class="container">
        <p class="footer-title"><span class="title-style">homemade ice cream made </span>
            with passion</p>
        <svg class="social-icon">
            <use><!--ikona social media--></use>
        </svg>
        <svg class="social-icon">
            <use><!--ikona social media--></use>
        </svg>
        <svg class="social-icon">
            <use><!--ikona social media--></use>
        </svg>
        <p class="footer-text">Feel free to contact</p>
        <adress><a href="tel:+61(0) 383 766 284" class="footer-link">+61(0) 383 766 284</a></adress>
        <p class="rights-text-ft">© 2022 - IceCream. All Rights Reserved.</p>
    </div>
</footer>




<!-- Footer
W footerze umieszczony jest zduplikowany tytuł, nie ma potrzeby wyróżniać go przez tag nagłówka.
W footerze znajduje się lista linków do sieci społecznościowych.
Ikony sieci społecznościowych zrobić za pomocą svg-sprite.
Linki powinny otwierać stronę główną sieci społecznościowej na nowej karcie.
Numer telefonu musi zostać zaimplementowany za pomocą protokołów łączności. -->