<!-- Just HERO section -->
<!--
<section class="hero">
  <div class="hero-container">
    <div class="head-wrapper">
      <h1 class="main-head">
        <span>ice&#160;cream</span>
        <span>made&#160;with</span>
        <span class="passion">passion</span>
      </h1>
    </div>
    <div class="hero-links">
      <button class="hero-left-side_navigation_button" type="submit">Products</button>
      <a class="hero-left-side_navigation_nav" href="#">How it's made?</a>
    </div>
    <div class="franchise-numbers">
      <p>16</p>
      <p>cafes</p>
      <p>32</p>
      <p>food trucks</p>
    </div>
    <div class="hero-text">
      <p>
        Indulge in a scoop of ice cream made with passion and treat your taste buds to
        anunforgettable experience!
      </p>
      <svg class="hero-left-side_presentation_icon" height="16" width="40">
        <use href="./images/svg/symbol-defs (11) (po optymalizacji).svg#icon-Arrow-1"></use>
      </svg>
    </div>
    <div class="ice-cream-img-wrapper">
      <img
        alt=""
        class="ice-cream-img"
        src="./images/hero-header/ice-cream.png"
        srcset="./images/hero-header/ice-cream@2x.png 2x, ./images/hero-header/ice-cream@3x.png 3x"
      />
    </div>
    <svg class="icon-dots" width="320" height="50">
      <use href="./images/svg/symbol-defs.svg#icon-kropki"></use>
    </svg>
  </div>
</section>-->

<!-- Tekst “Ice cream made with passion” jest tytułem strony.
Przyciski “Products” i “How it's made”, umieszczone pod tytułem, są linkami kotwicznymi do odpowiednich rozdziałów.
Obrazy na Hero ustawić bezwzględnie. Dodatkowo można dla nich utworzyć animację pojawienia się podczas ładowania strony. -->

<section class="hero">
  <div class="container container-background">
    <div class="hero-content">
    <h1 class="hero-title">ice cream made with <span class="hero-span1">passion</span></h1>
      <div class="hero-links">
        <a href="#our-products" class="hero-button-products">Products</a>
        <a href="#how-its-made" class="hero-button-about">How it's made?</a>      
      </div>
      <div class="hero-description">
        <img class="hero-plate"
          srcset="./images/hero-header/desktop-plate1x.png 225w, ./images/hero-header/desktop-plate2x.png 450w, ./images/hero-header/tablet-plate1x.png  152w, ./images/hero-header/tablet-plate2x.png  304w"
          sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 152px" src="./images/hero-header/desktop-plate1x.png"
          alt="Colorful ice-cream plate">
          <div class="hero-text-wrapper">
            <p class="hero-text">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
            <a class="hero-link-products" href="#our-products">
              <svg class="hero-arrow" height="16" width="40">
                <use href="./images/svg/symbol-defs (11) (po optymalizacji).svg#icon-Arrow-1"></use>
              </svg>
            </a>
          </div>
        </div>
          <div class="hero-stats">
            <p class="hero-stats-item"> 
              <span class="hero-span2">16</span>
              cafes
            </p>
            <p class="hero-stats-item"> 
              <span class="hero-span2">23</span>
              food trucks
            </p>
          </div>
          <div class="hero-image-wrapper">
            <img class="hero-img"
              srcset="./images/hero-header/ice_cream_mobile@1x.png   177w,  ./images/hero-header/ice_cream_mobile@2x.png   354w, ./images/hero-header/ice_cream_480@x1.png   218w, ./images/hero-header/ice_cream_480@x2.png   436w, ./images/hero-header/ice_cream_tablet@1x.png  268w, ./images/hero-header/ice_cream_tablet@2x.png  536w, ./images/hero-header/ice_cream_desktop@1x.png 447w, ./images/hero-header/ice_cream_desktop@2x.png 894w"
              sizes="(min-width: 1200px) 447px, (min-width: 768px) 257px, (min-width: 480px) 218px, 157px" src="./images/hero-header/tablet-plate1x.png"
              alt="Ice-cream">              
          </div>
      </div>
  </div>



</section>
