<header>
  <div class="header-container">
    <!-- Box for icon.svg -->
    <div class="ice-icon">
      <svg width="48" height="44">
        <use href="./images/svg/symbol-defs.svg#icon-head-logo"></use>
      </svg>
    </div>

    <!-- Section for navigation with ancors -->
    <section class="head-navigation desktop">
      <ul class="nav-list">
        <li><a class="nav-list_element" href="#">Home</a></li>
        <li><a class="nav-list_element" href="#">How it's made?</a></li>
        <li><a class="nav-list_element" href="#">Our products</a></li>
        <li><a class="nav-list_element" href="#">Contacts</a></li>
      </ul>
    </section>

    <!-- Box for mobile menu icon and Buy-now-modal -->
    <div class="header_buttons">
      <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
        <svg height="32" width="32">
          <use href="./images/svg/symbol-defs (11) (po optymalizacji).svg#icon-menu-burger"></use>
        </svg>
      </button>

      <button class="purchase_button tablet_fix" type="submit" buy-now-modal1-open>
        <p>
          Buy now
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12">
            <path
              d="M3.97 1.227a.75.75 0 0 0 0 1.06L7.682 6 3.97 9.712a.75.75 0 0 0 1.06 1.06L9.273 6.53a.75.75 0 0 0 0-1.06L5.03 1.227a.75.75 0 0 0-1.06 0Z"
            />
          </svg>
        </p>
      </button>
    </div>
  </div>

  <!-- hero section -->
  <section class="hero-container">
    <div class="hero-left-side">
      <h1>
      <div class="hero-left-side-top">
        <p>ice cream</p>
        <p>made&#160;with</p>
        <span>passion</span>
      </h1>
      <span class="hero-left-side_navigation">
        <button class="hero-left-side_navigation_button" type="submit">
          <p>Products</p>
        </button>
        <a class="hero-left-side_navigation_nav" href="#">How it's made?</a>
      </span>
    </div>
    <div class="hero-left-side_bottom tablet_fix">
      <span class="hero-left-side_presentation">
      
        
        <img
          src="./images/hero-header/ice_cream_dish_tablet@1x.png"
          alt=""
          class="hero-left-side_presentation_image "
          srcset="
            ./images/hero-header/ice_cream_dish_tablet@2x.png  304w,
            ./images/hero-header/ice_cream_dish_desktop@1x.png 225w,
            ./images/hero-header/ice_cream_dish_desktop@2x.png 450w
          "
          sizes="(min-width: 768px) 152px, (min-width: 1200px) 225px"
        />
      </span>
      <span class="hero-left-side_presentation_description">
        <p>
          Indulge in a scoop of ice cream made with passion and treat your taste buds to an
          unforgettable experience!
        </p>
        <svg class="hero-left-side_presentation_icon" height="16" width="40">
          <use href="./images/svg/symbol-defs (11) (po optymalizacji).svg#icon-Arrow-1"></use>
        </svg>
      </span>
    </div>
    </div>
    <div class="hero-right-side ">
      <div class="hero-right-side_presentation_hero">
        <img
          alt="Beautifull, colorfull ice cream with smiles"
          class="hero-right-side_presentation_hero_img"
          src="./images/hero-header/ice_cream_mobile@1x.png"
          srcset="
            ./images/hero-header/ice_cream_mobile@2x.png  354w,
            ./images/hero-header/ice_cream_tablet@1x.png  268w,
            ./images/hero-header/ice_cream_tablet@2x.png  536w,
            ./images/hero-header/ice_cream_desktop@1x.png 456w,
            ./images/hero-header/ice_cream_desktop@2x.png 912w
          "
          sizes="(min-width:320px) 177px, (min-width:480px) 218px, (min-width: 768px) 268px, (min-width: 1200px) 456px"
        />
      </div>
      <svg class="icon-dots" width="320" height="50">
        <use href="./images/svg/symbol-defs.svg#icon-kropki"></use>
      </svg>
      <div class="hero-left-side_numbers_of_places tablet_fix">
        <span class="hero-right-side_cafes_foodtrucks">
          <p>16</p>
          <p>cafes</p>
        </span>
        <span class="hero-right-side_cafes_foodtrucks">
          <p>23</p>
          <p>food trucks</p>
        </span>
      </div>
    </div>
  </section>
</header>

<!-- Mobile/Tablet Menu -->
<div class="menu-container js-menu-container" id="mobile-menu">
  <span class="mobile-box">
    <div class="ice-icon">
      <svg width="48" height="44">
        <use href="./images/svg/symbol-defs.svg#icon-head-logo"></use>
      </svg>
    </div>

    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle__icon" width="20" height="20">
        <use href="./images/svg/symbol-defs (11) (po optymalizacji).svg#icon-close"></use>
      </svg>
    </button>
  </span>
  <ul class="mobile-nav-list">
    <li><a class="nav-list_element" href="#">Home</a></li>
    <li><a class="nav-list_element nav-list_element__decor" href="#">How it's made?</a></li>
    <li><a class="nav-list_element" href="#">Our products</a></li>
    <li><a class="nav-list_element" href="#">Contacts</a></li>
  </ul>

  <div class="mobile-fix">
    <button class="purchase_button tablet" type="submit" buy-now-modal2-open>
      <p>
        Buy now
        <svg>
          <use
            href="./images/svg/symbol-defs.svg#icon-arrow-right-bold"
            widh="12"
            height="12"
          ></use>
        </svg>
      </p>
    </button>
  </div>
</div>

<!-- Hero Header
Menu jest zaimplementowane za pomocą linków kotwicznych, które prowadzą do
odpowiednich rozdziałów makiety.
Przycisk “Buy now”otwiera okno modalne z formularzem zamówienia. W przypadku wprowadzenia nieprawidłowych danych pole powinno podświetlać się na
czerwono. Walidacja nie powinna podświetlać się, dopóki użytkownik nie wprowadzi danych.
Tekst “Ice cream made with passion” jest tytułem strony.
Przyciski “Products” i “How it's made”, umieszczone pod tytułem, są linkami kotwicznymi do odpowiednich rozdziałów.
Obrazy na Hero ustawić bezwzględnie. Dodatkowo można dla nich utworzyć animację pojawienia się podczas ładowania strony. -->
