<!-- Just HERO section -->

<section class="hero" id=>
  <div class="container container-background">
    <div class="hero-content">
    <h1 class="hero-title">ice cream made with <span class="hero-span1">passion</span></h1>
      <div class="hero-links">
        <a href="#our-products" class="hero-button-products">Products</a>
        <a href="#how-its-made" class="hero-button-about">How it's made?</a>      
      </div>
      <div class="hero-description">
        <img class="hero-plate"
          srcset="./images/hero-header/desktop-plate1x.png 225w, ./images/hero-header/desktop-plate2x.png 450w, ./images/hero-header/tablet-plate1x.png  152w, ./images/hero-header/tablet-plate2x.png  304w"
          sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, 152px" src="./images/hero-header/desktop-plate1x.png"
          alt="Colorful ice-cream plate">
          <div class="hero-text-wrapper">
            <p class="hero-text">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
            <a class="hero-link-products" href="#our-products">
              <svg class="hero-arrow" height="16" width="40">
                <use href="./images/svg/symbol-defs (11) (po optymalizacji).svg#icon-Arrow-1"></use>
              </svg>
            </a>
          </div>
        </div>
          <div class="hero-stats">
            <p class="hero-stats-item"> 
              <span class="hero-span2">16</span>
              cafes
            </p>
            <p class="hero-stats-item"> 
              <span class="hero-span2">23</span>
              food trucks
            </p>
          </div>
          <div class="hero-image-wrapper">
            <img class="hero-img"
              srcset="./images/hero-header/ice_cream_mobile@1x.png   177w,  ./images/hero-header/ice_cream_mobile@2x.png   354w, ./images/hero-header/ice_cream_480@x1.png   218w, ./images/hero-header/ice_cream_480@x2.png   436w, ./images/hero-header/ice_cream_tablet@1x.png  268w, ./images/hero-header/ice_cream_tablet@2x.png  536w, ./images/hero-header/ice_cream_desktop@1x.png 447w, ./images/hero-header/ice_cream_desktop@2x.png 894w"
              sizes="(min-width: 1200px) 447px, (min-width: 768px) 257px, (min-width: 480px) 218px, 157px" src="./images/hero-header/tablet-plate1x.png"
              alt="Ice-cream">              
          </div>
      </div>
  </div>
</section>