<header>
    <div class="container">
        <a href="#" class="header-logo">LOGO<svg class="logo-svg">
                <use></use>
            </svg></a>
        <nav>
            <menu class="nav-links">
                <li><a href="#" class="nav-links-style">Home</a></li>
                <li><a href="#" class="nav-links-style">How it's made?</a></li>
                <li><a href="#" class="nav-links-style">Our products</a></li>
                <li><a href="#" class="nav-links-style">Contact</a></li>
            </menu>
            <button type="button" class="buy-button">Buy now</button>
        </nav>

        <div class="hero">
            <!-- niektóre z tych obiektów pojawiają się dopiero na tablecie i desktopie, najpierw robimy wersję mobilną -->
            <h1 class="hero-heading">ice cream made with passion</h1>
            <a href="#" class="hero-links">Products</a>
            <a href="#" class="hero-links">How it's made?</a>
            <p class="hero-numbers-style">16</p>
            <p class="hero-text-style">cafes</p>
            <p class="hero-numbers-style">23</p>
            <p class="hero-text-style">food trucks</p>
            <img scr="#" alt="plate with scoops of ice creams" />
            <p class="hero-text-style">Indulge in a scoop of ice cream made with passion and treat your taste buds
                to an unforgettable experience!</p>
            <img scr="#" alt="smiling ice creams" />
        </div>
    </div>
</header>






<!-- Hero Header
W headerze znajduje się logo, menu nawigacyjne oraz przycisk.
Logo na makiecie wyświetlane jest w formacie png/svg.
Menu nawigacyjne w wersji mobilnej i tabletowej jest wyświetlane jako rozwijany pasek boczny. Menu ruchome jest stałe,
wysokość odpowiada wysokości viewport. Menu jest zaimplementowane za pomocą linków kotwicznych, które prowadzą do
odpowiednich rozdziałów makiety.
Przycisk “Buy now”otwiera okno modalne z formularzem zamówienia, składającym się z punktowanej listy produktów (której
elementy zawierają ukryte pola wyboru), z wejść (należy dodać minimalną walidację danych przy wprowadzaniu za pomocą
atrybutu pattern) oraz przycisku Submit. W przypadku wprowadzenia nieprawidłowych danych pole powinno podświetlać się na
czerwono. Walidacja nie powinna podświetlać się, dopóki użytkownik nie wprowadzi danych.
Tekst “Ice cream made with passion” jest tytułem strony.
Przyciski “Products” i “How it's made”, umieszczone pod tytułem, są linkami kotwicznymi do odpowiednich rozdziałów.
Obrazy na Hero ustawić bezwzględnie. Dodatkowo można dla nich utworzyć animację pojawienia się podczas ładowania strony. -->