<!-- Just HERO section -->

<section class="hero" id="hero">
  <div class="hero-container">
    <div class="head-wrapper">
      <h1 class="main-head">
        <span>ice&#160;cream</span>
        <span>made&#160;with</span>
        <span class="passion">passion</span>
      </h1>
    </div>
    <div class="hero-links">
      <a href="#our-products" class="hero-btn">Products</a>
      <a href="#how-its-made" class="hero-link">How it's made?</a>
    </div>
    <div class="franchise-numbers">
      <p>16</p>
      <p>cafes</p>
      <p>32</p>
      <p>food trucks</p>
    </div>
    <div class="hero-text">
      <p>
        Indulge in a scoop of ice cream made with passion and treat your taste buds to
        anunforgettable experience!
      </p>
      <svg class="hero-left-side_presentation_icon" height="16" width="40">
        <use href="./images/svg/symbol-defs (11) (po optymalizacji).svg#icon-Arrow-1"></use>
      </svg>
    </div>
    <div class="ice-cream-img-wrapper">
      <img alt="" class="ice-cream-img" src="./images/hero-header/ice-cream.png"
        srcset="./images/hero-header/ice-cream@2x.png 2x, ./images/hero-header/ice-cream@3x.png 3x" />
    </div>
    <svg class="icon-dots" width="320" height="50">
      <use href="./images/svg/symbol-defs.svg#icon-kropki"></use>
    </svg>
  </div>
</section>