<header class="h-container">
  <!-- Box for icon.svg -->
  <div class="ice-icon">
    <svg>
      <use href="./images/svg/symbol-defs.svg#"></use>
    </svg>
  </div>
  <!-- Section for navigation with ancors -->
  <section class="head-navigation">
    <ul class="nav-list">
      <li><a class="nav-list_element" href="#">Home</a></li>
      <li><a class="nav-list_element" href="#">How it's made?</a></li>
      <li><a class="nav-list_element" href="#">Our products</a></li>
      <li><a class="nav-list_element" href="#">Contacts</a></li>
    </ul>
  </section>
  <!-- Box for "Buy" button and mobile menu icon -->
  <div class="header_buttons">
    <button class="menu-toggle js-open-menu mobile" aria-expanded="false" aria-controls="mobile-menu">
      <svg>
        <use href="./images/svg/symbol-defs.svg#"></use>
      </svg>
    </button>
    <button class="purchase_button desktop" type="submit">
      <p>
        Buy now
        <svg>
          <use href="./images/svg/symbol-defs.svg#"></use>
        </svg>
      </p>
    </button>
  </div>
</header>
<section class="hero-container">
  <div class="hero-left-side">
    <h1>ice cream made with passion</h1>
    <span class="hero-right-side_navigation">
      <button class="hero-right-side_navigation_button" type="submit">
        <p>Products</p>
      </button>
      <a href="#">How it's made?</a>
    </span>
    <span class="hero-right-side_presentation">
      <div class="hero-right-side_presentation_frame">
        <!-- poniższe 3 linijki wrzuciłem w komentarz bo na razie bez podania konkretnego pliku wywala serwer -->
        <!-- <img
            src="./images/#"
            alt="Beautifull, colorfull ice cream dessert with fruits and chocolate garnish"
            class="presentation_ice_cream_plate" /> -->
      </div>
    </span>
  </div>
  <div class="hero-right-side">
    <span class="hero-right-side_cafes_foodtrucks">
      <p></p>
      <p></p>
    </span>
    <span class="hero-right-side_cafes_foodtrucks">
      <p></p>
      <p></p>
    </span>
  </div>
</section>

<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
  integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
  crossorigin="anonymous"></script>
<div class="menu-container js-menu-container" id="mobile-menu">
  <span class="menu-container__fix">
    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle__icon" width="20" height="20">
        <use href="./images/svg/symbol-defs.svg#"></use>
      </svg>
    </button>
  </span>
  <ul class="nav-list">
    <li><a class="nav-list_element" href="#">Home</a></li>
    <li><a class="nav-list_element" href="#">How it's made?</a></li>
    <li><a class="nav-list_element" href="#">Our products</a></li>
    <li><a class="nav-list_element" href="#">Contacts</a></li>
  </ul>
  <button class="purchase_button" type="submit">
    <p>
      Buy now
      <svg>
        <use href="./images/svg/symbol-defs.svg#"></use>
      </svg>
    </p>
  </button>
</div>


<!-- Hero Header
W headerze znajduje się logo, menu nawigacyjne oraz przycisk.
Logo na makiecie wyświetlane jest w formacie png/svg.
Menu nawigacyjne w wersji mobilnej i tabletowej jest wyświetlane jako rozwijany pasek boczny. Menu ruchome jest stałe,
wysokość odpowiada wysokości viewport. Menu jest zaimplementowane za pomocą linków kotwicznych, które prowadzą do
odpowiednich rozdziałów makiety.
Przycisk “Buy now”otwiera okno modalne z formularzem zamówienia, składającym się z punktowanej listy produktów (której
elementy zawierają ukryte pola wyboru), z wejść (należy dodać minimalną walidację danych przy wprowadzaniu za pomocą
atrybutu pattern) oraz przycisku Submit. W przypadku wprowadzenia nieprawidłowych danych pole powinno podświetlać się na
czerwono. Walidacja nie powinna podświetlać się, dopóki użytkownik nie wprowadzi danych.
Tekst “Ice cream made with passion” jest tytułem strony.
Przyciski “Products” i “How it's made”, umieszczone pod tytułem, są linkami kotwicznymi do odpowiednich rozdziałów.
Obrazy na Hero ustawić bezwzględnie. Dodatkowo można dla nich utworzyć animację pojawienia się podczas ładowania strony. -->