<section class="advantages-section">
    <div class="container">
        <h2 class="advantages-title visually-hidden">Advantages</h2> <!--do ukrycia-->
        <ul class="advantages-list">
            <li>
                <svg>
                    <use>ikona</use>
                </svg>
                <p class="advantages-numbers">721</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li>
                <svg>
                    <use>ikona</use>
                </svg>
                <p class="advantages-numbers">16kg</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>

            <li>
                <svg>
                    <use>ikona</use>
                </svg>
                <p class="advantages-numbers">721</p>
                <p class="advantages-text">84 Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>





<!-- Advantages
W sekcji nie ma widocznego tytułu. Należy utworzyć ukryty nagłówek dla crawlerów.
W sekcji znajduje się lista zalet. Należy go zaimplementować jako siatkę elementów.
Ikony zalet w makiecie są wyświetlane w formacie png/svg. W układzie trzeba je zaimplementować za pomocą
pseudoelementów. -->