<section class="customer-reviews-section">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img width="85" height="85" alt="pictures of client" class="client-picture"
            src="./images/client-picture-1.jpg"
            srcset="./images/client-picture-1@2x.jpg 2x, ./images/client-picture-1@3x.jpg 3x" />
          <div class="reviews-wrapper">
            <p class="reviews-text">
              I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
              addition, you have beautiful serving, cozy atmosphere and polite staff.
            </p>
          </div>
          <p class="customer-signature">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <img width="85" height="85" alt="pictures of client" class="client-picture"
            src="./images/client-picture-2.jpg"
            srcset="./images/client-picture-2@2x.jpg 2x, ./images/client-picture-2@3x.jpg 3x" />
          <div class="reviews-wrapper">
            <p class="reviews-text">
              Every day we come to you with friends after classes in college. We love your ice cream
              and casual atmosphere!
            </p>
          </div>
          <p class="customer-signature">Bryan, New-York</p>
        </div>
        <div class="swiper-slide">
          <img width="85" height="85" alt="pictures of client" class="client-picture"
            src="./images/client-picture-3.jpg"
            srcset="./images/client-picture-3@2x.jpg 2x, ./images/client-picture-3@3x.jpg 3x" />
          <div class="reviews-wrapper">
            <p class="reviews-text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like
              the excellent service - always served politely and quickly!
            </p>
          </div>
          <p class="customer-signature">Diana, Chicago</p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>