<section class="products-section">
    <div class="container">
        <p class="product-text">100% natural</p>
        <h2 class="product-title">Products</h2>
        <ul class="product-list">
            <li>
                <h3 class="product-card-heading">Ice Cream</h3>
                <p class="products-card-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                    natural stabilizer</p> <button type="button">strzałka</button>
            </li>
            <li>
                <h3 class="product-card-heading">Ice Coffee</h3>
                <p class="products-card-text">Fragrant invigorating drink created from 100% natural ingredients
                    without the use of preservatives and flavor enhancers</p> <button type="button">strzałka</button>
            </li>
            <li>
                <h3 class="product-card-heading">Milkshakes</h3>
                <p class="products-card-text">Sweet drinks based on milk and ice cream, supplemented with
                    syrups, fruits, berries and other sweets of your choice</p> <button type="button">strzałka</button>
            </li>
        </ul>
    </div>
</section>





<!-- Products
“100% natural” - jest etykietą tytułu i nie wyróżnia się znacznikiem nagłówka.
“products” – jest tytułem sekcji.
Karty produktów zaprojektować jako siatkę elementów.
Obrazy na kartach produktów są dekoracyjne, należy je zaimplementować pseudo elementami.
Nazwy produktów są nagłówkami.
Przycisk ze strzałką na dole karty powinien otwierać okno modalne ze szczegółowym opisem produktu i formularzem do jego
zamówienia. -->