<section class="gallery-section">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container gallery">

    <!--slider z obrazami lodów-->
    <div class="gallery-wrapper">
      <div id="slideset-gallery">
        <div>
          <img class="gallery-img" alt="ice cream with blueberry" src="./images/ice-cream-gallery-1.jpg"
            srcset="./images/ice-cream-gallery-1@2x.jpg 2x, ./images/ice-cream-gallery-1@3x.jpg 3x" />
        </div>
        <div>
          <img class="gallery-img" alt="ice cream with colorful sprinkles" src="./images/ice-cream-gallery-2.jpg"
            srcset="./images/ice-cream-gallery-2@2x.jpg 2x, ./images/ice-cream-gallery-2@3x.jpg 3x" />
        </div>
        <div>
          <img class="gallery-img" alt="ice lolly" src="./images/ice-cream-gallery-3.jpg"
            srcset="./images/ice-cream-gallery-3@2x.jpg 2x, ./images/ice-cream-gallery-3@3x.jpg 3x" />
        </div>
      </div>
    </div>
  </div>
</section>