<section class="gallery-section">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container">
    <!--slider z obrazami lodów-->
    <div id="slideset-gallery">
      <div>
        <img class="gallery-img" alt="" src="./images/ice-cream-gallery-1-1013.jpg" />
      </div>
      <div>
        <img class="gallery-img" alt="" src="./images/ice-cream-gallery-2-1013.jpg" />
      </div>
      <div>
        <img class="gallery-img" alt="" src="./images/ice-cream-gallery-3-1013.jpg" />
      </div>
    </div>
  </div>
</section>

<!-- Gallery
W sekcji dwukolorowe tło: należy je zaimplementować poprzez pozycjonowanie obrazu tła zgodnie z makietą. Obraz w sekcji
jest treściowy. Ponadto można wybrać tematyczne obrazy lodów i dokonać ich animowanej zmiany. -->
