<section class="contacts">
    <div class="container">
        <h2 class="contacts-title visually-hidden">Contacts</h2> <!--do ukrycia-->

        <ul class="contacts-list">
            <li>
                <p class="contact-category">Cafe</p>
                <p class="contact-text adress">Chicago
                    10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                </p>
                <p class="contact-text">Monday-Friday
                    06:00 AM - 10:00 PM
                    Saturday-Sunday
                    08:00 AM - 16:00 PM
                </p>
                <a class="contact-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contact-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>

            <li>
                <p class="contact-category">Food Truck</p>
                <p class="contact-text adress">Los Angeles
                    1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                </p>
                <p class="contact-text">Monday-Friday
                    06:00 AM - 10:00 PM
                    Saturday-Sunday
                    08:00 AM - 16:00 PM
                </p>
                <a class="contact-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contact-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>

            <li>
                <p class="contact-category">Cafe</p>
                <p class="contact-text adress">New York
                    726 Sterling Pl, Brooklyn, NY 11222, USA
                </p>
                <p>Monday-Friday
                    06:00 AM - 10:00 PM
                    Saturday-Sunday
                    08:00 AM - 16:00 PM
                </p>
                <a class="contact-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                <a class="contact-link" href="mailto:noreply@envato.com">noreply@envato.com</a>
            </li>
        </ul>

        <button type="button" class="location-button">Our Locations</button>
        <button type="button" class="franchise-button">Franchise</button>
    </div>
</section>





<!-- Contacts
W sekcji nie ma widocznego tytułu. Należy utworzyć ukryty nagłówek dla crawlerów.
Sekcja zawiera listę adresów przedstawicielstw firmy. Należy go zaimplementować jako siatkę elementów.
Napisy “Cafe” i “Food Truck” nie są nagłówkami. Są to kategorie przedstawicielstw.
Kontaktowe numery telefonów i e-mail są podane jako linki. Muszą być zrealizowane za pomocą protokołów łączności.
Przycisk “Our Locations” powinien otwierać okno modalne z treściowym obrazem mapy i linkiem do mapy zewnętrznego zasobu.
Przycisk “Franchise” powinien otwierać okno modalne z formularzem do wprowadzenia danych przez użytkownika
zainteresowanego warunkami franczyzy, informacji kontaktowych w celu dalszej komunikacji, który zawiera wejścia (którym
należy dodać minimalną walidację danych do wprowadzenia za pomocą atrybutu pattern) i przyciskiem Submit. -->