.footer {
  background-color: var(--main-bg-color);
}
.footer-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.title-style {
  color: var(--white-color);
  width: 232px;
  text-transform: uppercase;
  margin-top: 60px;
  padding-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
.subtitle-style {
  color: var(--white-color);
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
  width: 200px;
  height: 76px;
}

.footer-icons {
  margin-bottom: 20px;
  display: flex;
  justify-content: end;
  gap: 20px;
}

.footer-icons a {
  display: flex;
  padding: 7px;
  background-color: var(--default-btn-color);
  border-radius: 50%;
}

.social-icon {
  fill: var(--main-bg-color);
  display: flex;
  align-self: center;
  margin: auto;
}

.social-icon:hover,
.social-icon:focus {
  cursor: pointer;
  fill: var(--light-bg-font-color);
}

.footer-text {
  color: var(--dark-font-color);
  text-align: right;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}

.footer-contact {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  gap: 5px;
}

.footer-link {
  color: var(--white-color);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
}

.horizontal-line {
  width: 100%;
  border: none;
  border-top: 1px solid #e1e1e1;
  margin-bottom: 20px;
}

.rights-text-ft {
  text-align: center;
  display: block;
  justify-content: center;
  gap: 10px;
  margin-bottom: 24px;
}

.rights-item-ft {
  color: var(--footer-font-color);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 152%;
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .footer-title {
    width: 352px;
    margin-bottom: 0;
  }
  .title-style {
    font-size: 26px;
    width: 352px;
  }
  .subtitle-style {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.88px;
    height: 118px;
  }
  .footer-icons {
    margin-left: 189px;
    margin-top: 150px;
  }
  .rights-text-ft {
    margin-bottom: 12px;
  }

  .tablet-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-contact {
    display: flex;
    flex-wrap: nowrap;
  }

  .rights-text-ft {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .social-icon:hover,
  .social-icon:focus {
    cursor: pointer;
    fill: var(--light-bg-font-color);
  }
}

@media screen and (min-width: 1200px) {
  .title-style {
    font-size: 30px;
    width: 504px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
  }
  .subtitle-style {
    width: 497px;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .footer-icons {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .tablet-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-link {
    font-size: 16px;
  }
  .footer-text {
    font-size: 16px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .social-icon:hover,
  .social-icon:focus {
    cursor: pointer;
    fill: var(--light-bg-font-color);
  }
}
