/* style for header section */

header,
.hero-container {
  background-color: var(--main-bg-color);
}

.header-container {
  max-width: calc(100% - 2 * 15px);
  min-width: 300px;
  padding: 12px 20px;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ice-icon svg {
  fill: var(--default-btn-color);
}
.menu-toggle svg {
  width: 32px;
  height: 32px;
  fill: var(--white-color);
}
.header_buttons {
  display: flex;
  gap: 32px;
}
.menu-toggle {
  border: none;
  background-color: inherit;
}

.head-navigation {
  color: var(--white-color);
}

.nav-list {
  display: flex;
  gap: 28px;
}
.nav-list_element {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--white-color);
}
.mobile-nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding: 0;
}
.mobile-nav-list .nav-list_element {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: var(--light-bg-font-color);
}
.nav-list_element__decor {
  color: var(--dark-font-color);
}
.purchase_button {
  padding: 0;
  width: 152px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background: var(--default-btn-color);
}
.purchase_button p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.purchase_button svg {
  width: 12px;
  height: 12px;
  fill: var(--black-color);
}
.purchase_button:focus {
  color: var(--white-color);
}
.purchase_button svg:focus {
  fill: var(--white-color);
}
.purchase_button:hover,
.purchase_button:focus {
  background: var(--hover-btn-color);
  border: none;
}
.mobile-fix {
  padding-bottom: 88px;
  padding-top: 114px;
}
.menu-container {
  position: fixed;
  width: 100%;
  top: 0;
  height: auto;
  padding: 0;
  background-color: var(--main-bg-color);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
.menu-container .is-open {
  transform: translateX(0);
  height: 100vh;
}
.mobile-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 12px 20px;
}

/*Styles for hero section*/
.hero-container {
  max-width: 480px;
  min-width: 300px;
  padding-bottom: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hero-left-side h1 {
  font-family: 'Seymour One';
  font-size: 34px;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.hero-left-side p {
  font-size: 26px;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  margin: 0;
}

.hero-left-side {
  display: flex;
  flex-direction: column;
}
.hero-left-side_navigation {
  display: flex;
  gap: 12px;
  padding-top: 10px;
  padding-bottom: 19px;
  align-items: center;
}
.hero-left-side_navigation_button {
  border: 2px solid #f8d24e;
  border-radius: 8px;
  background-color: inherit;
  width: 108px;
  height: 38px;
}
.hero-left-side_navigation_button:hover {
  border: 2px solid var(--hover-btn-color);
}
.hero-left-side_navigation_button:focus,
.hero-left-side_navigation_button p:focus {
  border: 2px solid var(--hover-btn-color);
  color: var(--white-color);
}
.hero-left-side_navigation_button:disabled {
  border: 2px solid var(--disabled-btn-colo);
}
.hero-left-side_navigation_button p {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-left-side_navigation_nav {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--default-btn-color);
  width: 114px;
  height: 24px;
}
.hero-left-side_navigation_nav:hover {
  color: var(--hover-btn-color);
}
.hero-left-side_navigation_nav:focus {
  color: var(--white-color);
}
.hero-left-side_navigation_nav:disabled {
  color: var(--disabled-btn-color);
}
.hero-left-side_presentation {
  display: flex;
  width: 152px;
}
.hero-left-side_presentation_description {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.hero-left-side_presentation_icon {
  fill: #fcfcfc;
}
.hero-right-side_presentation_hero {
  width: 100%;
  height: auto;
}
.icon-dots {
  fill: var(--default-btn-color);
  margin-top: -70px;
  margin-left: -40px;
}

/* Responsives elements */
/* @media screen and (min-width: 768px) {
  
} */

@media screen and (min-width: 1200px) {
  .menu-toggle,
  .menu-container {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .desktop {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .head-navigation,
  .tablet_fix {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .tablet {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero-right-side_presentation_hero {
    max-width: 218px;
  }
}
