/* HERO styles */
.hero {
    background-color: var(--main-bg-color); 
}



.hero-container {
    position: relative;
    margin-inline: auto;
    width: 320px;
    height: 459px;
}

.head-wrapper {
    width: 247px;
    margin: 50px 53px 32px 20px
}

.main-head {
    color: var(--light-bg-font-color);
    font-family: Seymour One;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.04px;
    text-transform: uppercase;
}

.passion {
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 96.5%;
}

.franchise-numbers {
    display: none;
}

.hero-text {
    display: none;
}



.ice-cream-img-wrapper {
    width: 177px;
    height: 217px;
    position: absolute;
    bottom: 0;
    left: 83px;
}

.ice-cream-img {
    display: block;
    width: 100%;
    height: auto;
}

.icon-dots {
    position: absolute;
    bottom: 0;
    fill: var(--default-btn-color);
}

