/* style for header section */
* {
  margin: 0px;
}
.h-container {
  width: 100%;
  min-width: 450px;
  height: auto;
  display: flex;
  background: #84a178;
  align-items: center;
  justify-content: space-between;
}
.ice-icon {
  padding: 12px 20px;
}
.ice-icon svg {
  width: 40px;
  height: 37px;
}
.menu-toggle svg {
  width: 32px;
  height: 32px;
  fill: #fff;
}
.header_buttons {
  display: flex;
}
.menu-toggle {
  border: none;
  background-color: inherit;
}

.head-navigation {
  display: none;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding: 0;
}
.nav-list_element {
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: none;
  color: #fcfcfc;
}
.nav-list_element__decor {
  color: #131313;
}
.purchase_button {
  padding: 0;
  width: 152px;
  height: 42px;
  border-radius: 10px;
  border: none;
  background: #f8d24e;
}
.purchase_button p {
  margin: 0;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.purchase_button svg {
  width: 12px;
  height: 12px;
  fill: #000;
}
.purchase_button:focus,
.purchase_button svg:focus {
  color: #fff;
  fill: #fff;
}
.purchase_button:hover,
.purchase_button:focus {
  background: #0a8817;
  border: none;
}
.mobile-fix {
  padding-bottom: 88px;
  padding-top: 114px;
}
.menu-container {
  position: fixed;
  width: 100%;
  top: 0;
  height: auto;
  padding: 0;
  background-color: #84a178;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
/*Styles for hero section*/
.hero-container {
  width: 100%;
  min-width: 450px;
  background: #84a178;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
h1 {
  font-family: Seymour One;
  font-size: 34px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
.h1_text_1 {
  font-family: Seymour One;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: left;
}
.h1_text_2 {
  font-family: Titan One;
  font-size: 37px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
}
.hero-left-side_navigation_button {
  border: 2px solid #f8d24e;
  border-radius: 8px;
  background-color: inherit;
  width: 108px;
  height: 38px;
}
.hero-left-side_navigation_button:hover {
  border: 2px solid #0a8817;
}
.hero-left-side_navigation_button:focus,
.hero-left-side_navigation_button p:focus {
  border: 2px solid #0a8817;
  color: #fff;
}
.hero-left-side_navigation_button:disabled {
  border: 2px solid #ababab;
}
.hero-left-side_navigation_button p {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}
.hero-left-side_navigation_nav {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #f8d24e;
  width: 114px;
  height: 24px;
}
.hero-left-side_navigation_nav:hover {
  color: #0a8817;
}
.hero-left-side_navigation_nav:focus {
  color: #fff;
}
.hero-left-side_navigation_nav:disabled {
  color: #ababab;
}
.hero-left-side_presentation_frame {
  width: 152px;
  height: 152px;
}
/* Responsives elements */
@media screen and (min-width: 1200px) {
  .menu-toggle,
  .menu-container {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .desktop {
    display: none;
  }
}
