/* style dla section3-advantages */

/* klasa visually-hidden jest już w styles.css */
/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

ul {
  list-style: none;
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}

.advantages-section {
  background-color: #84a178;
  padding-bottom: 81px;
}
.advantages-style{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.svg-advantages {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #f8d24e;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
.advantages-numbers {
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  text-align: center;
}
.advantages-text {
  color: #fcfcfc;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 170%;
  width: 230px;
  height: 40px;
}
