@import url("./hero-header.css");
@import url("./section1-products.css");
@import url("./section2-about.css");
@import url("./section3-advantages.css");
@import url("./section4-gallery.css");
@import url("./section5-customer-reviews.css");
@import url("./section6-contacts.css");
@import url("./footer.css");


/* Style ogólne, np. dla body, wszystkich sekcji itp */
:root {
    --main-bg-color: #84a178;
    --light-bg-font-color: #fcfcfc;
    --dark-font-color: #131313;
    --default-btn-color: #f8d24e;
    --hover-btn-color: #0a8817;
    --disabled-btn-color: #ababab;
    --ice-cream-bg-color: #aec6a5;
    --ice-coffee-bg-color: #efd478;
    --milkshakes-bg-color: #d6936d;
    --footer-font-color: #7a7a7a;
    --modal-input-bg-color: rgba(248, 210, 78, 0.10);
    --white-color: #fff;
    --black-color: #000;
}
